.btn1{
background-color: rgb(161, 23, 18);
padding: 10px;
border: none;
color: white;
border-radius: 5px;
}
.filters{
    background-color: rgb(120, 52, 184);
    color: white;
    border:none;
    padding: 15px 25px;
    font-weight: bold;

}
.filters2{
    background-color: rgb(120, 52, 184);
    color: white;
    border:none;
    padding: 15px 15px;
    font-weight: bold;
}


