{% extends 'base.html' %}
{% block title %} Change Password {% endblock title %}
{% block content %}
<!--{% load static %}-->
<!--<link rel="stylesheet" href="{% static 'stylesheet/signup.css' %}">-->
<div class="m-4 p-4">
<h2 class = "text-center my-4"> Change Password </h2>
<div class="d-flex">
<div class="container col-lg-4">
  <form class="form-fields mx-4 px-4" action="/change_password" method="post">
  {% csrf_token %}
    {% if error%}
    <div class="alert alert-danger" role="alert">
        <strong>{{error}}</strong>
    </div>
    {% endif %}

      <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="{{data.password}}">
      </div>
      <div class="form-group mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" value="{{data.new_password}}">
      </div>
      <div class="form-group mb-3">
        <label for="confirm_password" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{data.confirm_password}}">
      </div>
      <button type="submit" class="btn btn-primary col-lg-8 px-auto">Change Password</button>
  </form>
</div>
</div>
</div>
{%endblock content%}